html {
    background-color:rgb(243, 139, 220)
    
}
p {
    background-color:rgb(77, 10, 108);
    color:rgb(55, 191, 203);
    border: dashed;
    text-align:center;
    /* width:700px;*/

    /*padding is for internal spacing*/
    padding: 20px 60px 80px 100px;

    /*margin is for external spacing*/
    margin: 50px;
}

/* 
for padding:
1 value: all sides

2 values: 1st value = top/bottom, 2nd = left/right

4 values: 1st = top, 2nd = right, 3rd = bottom, 4th = left
*/

/* 
cmd + / or ctrl + /
opt + shift + a for alternative comment shortcut
*/

h1 {
   /* font-size: 60px;*/
}
#special{
    background-color: rgb(109, 159, 239);
    color:darkorange;
    border-radius: 30px;
}
.centered-text {
    text-align: center;
    padding: 20px;
}